<!DOCTYPE html>
<html>
    <head>
        <title> Final Scheduler </title>
    </head>
    <body>
        
        <h1> Add Time Slot </h1>
        <!--20 points-->
        <!--Date - Start Time - End Time -- Cancel Button  -- Add -->
    </body>
</html>