<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Final Scheduler </title>
        <!--css-->
        <!--<link rel="stylesheet" href="/css/styles.css"/>-->
        <!--bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        
    </head>
    <body>
        <h1> Final Scheduler </h1>
        <!--20 points-->
        <!--Should show list of time slots-->
        <!--Date - Start Time - Duration - Booked By -- Details Button -- Delete Button-->
        <!--Nav Bar-->
        <div class="navigationBar">
            <a href="/final">Dashboard</a>
            <a href="/addTime">Add Time Slot</a>
            <a href="/rubric">Rubric</a>
        </div>
        <!--Table-->
       
        <table class="centered">
            <tr id="table-header">
                <td><strong>Date</strong></td>
                <td><strong>Start Time</strong></td>
                <td><strong>Duration</strong></td>
                <td><strong>Booked By</strong></td>
            </tr>
            
            
            <% timeSlots.forEach(function(timeSlot) { %>
                <tr>
                    <th><%= timeSlot.dateOfSlot %></th>
                    <th><%= timeSlot.startTime %></th>
                    <th><%= timeSlot.endTime %></th>
                    <th><%= timeSlot.bookedByFirstName %></th>
                </tr>
            <% }); %>
            
        </table>
        <br><br>
        <div id="message"></div>
        
        <!--Add Button-->
        <h1>Add New Time Slot</h1>
            Date: <input type="date" id="date" name="date"><br> <br>
            Start time: <input type="time" id="startTime" name="startTime"><br> <br>
            End time: <input type="time" id="endTime" name="endTime"><br> <br>
            <br><br>
            <button id="addTimeSlotbtn" class="btn btn-lg btn-info">Add Time Slot!</button>
            <br><br>
            
            
        <script>
            var popupWindow = null;
            
            function centeredPopup(url, winName, w, h, scroll) {
                LeftPosition = (screen.width) ? (screen.width - w) / 2 : 0;
                TopPosition = (screen.height) ? (screen.height - h) / 2 : 0;
                settings =
                    'height=' + h + ',width=' + w + ',top=' + TopPosition + ',left=' + LeftPosition + ',scrollbars=' + scroll + ',resizable'
                popupWindow = window.open(url, winName, settings)
            }
            
            //add TimeSlot
            $("#addTimeSlotbtn").on("click", function () {
                let date = $("#date").val();
                let startTime = $("#startTime").val();
                let endTime = $("#endTime").val();
                
                insertTimeSlot(date, startTime, endTime);
           
            });//addTimeSlot
            
            
            </script>
        
    </body>
</html>