<!DOCTYPE html>
<html>
    <head>
        <title> Final Scheduler </title>
    </head>
    <body>
        
        <h1> Add Time Slot </h1>
        <!--15 points-->
        <!--Be a pop up when clicking to delete a certain time slot-->
        <!--Start Time - End Time -- Cancel Button  -- Yes, Remove It! -->
        <!--Are you sure you want to remove the time slot? This cannot be undone.-->
    </body>
</html>