<!DOCTYPE html>
<html>
    <head>
        <title> Quotes and Authors  </title>
    </head>
    <body>
        
        <h1> Quotes and Authors  </h1>

        <% records.forEach( function(record){ %> 
            console.log(record.quote);
            <i><%= record.quote %></i> <br>
            -<%= record.firstName %> <%= record.lastName %>
            <br><br>

        <% })  %>

    </body>
</html>