body {
    background-color: black;
    color: gray;
}

header,
nav,
footer {

    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#welcomeText,
#welcomeText2 {
    float: left;
    text-indent: 200px;
}

#questionText {
    float: left;
    text-indent: 100px;
}

#me {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#uml {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

footer {
    clear: left;
    font-size: 10px;
    color: silver;
}

table {
    margin: 0px auto;

}

td {

    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    color: white;
    background-color: #753900;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color: yellow;
}

#protoOverview,
#keyIdea,
#keyIdea2,
#bufferKeyIdea,
#bufferKeyIdea2,
#bufferOverview,
#loopOverview,
#loopKeyIdea,
#loopKeyIdea2 {
    margin: 0px 500px 0px 250px;

}

#criteria {
    margin: 0px 0px 0px -120px;

}
